
  
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="dropdown">
                    <input ng-model="$root.searchCities" data-toggle="dropdown" ng-click="openCityDropDown()"  type="text" class="form-control" placeholder="Search">
                    <ul class="dropdown-menu col-md-12 list-height" role="menu" ng-show="citiesList">
                        <li role="menuitem" class="listOfCities" ng-repeat="x in cities | filter: searchCities" ng-click="setSearchBox(x)">{{x}}</li>
                    </ul>
                    </div>
                    <h3 class="section-subheading text-muted">Enter your location to start Exploring</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4 mouse-pointer">
                    <span ng-click="validateLocation(1)" class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Explore Businesses</h4>
                    <p class="text-muted">Browse through the best businesses in any city and view their ratings, reviews and many more</p>
                </div>
                <div class="col-md-4 mouse-pointer">
                    <span class="fa-stack fa-4x" ng-click="validateLocation(2)">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Know the Latest Trends</h4>
                    <p class="text-muted">View different graphs that provides an estimate of the latest customer trends </p>
                </div>
                <div class="col-md-4 mouse-pointer">
                    <span class="fa-stack fa-4x" ng-click="validateLocation(3)">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Meet the top Reviewer</h4>
                    <p class="text-muted">Check out reviewer profiles of those who have provided reviews for the top businesses in the locality and their best reviews</p>
                </div>
            </div>
        </div>
    </section>



    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nikhil Tiware</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Prateek Joshi</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Shashank Sharma</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Akash Ravi</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>







