<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Start Exploring</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <style>
        .navbar {
            border-radius: 0;
        }
        #profilePic {
            height: 200px;
            width: 200px;
            overflow: hidden;
        }
        .padding-5-left {
            padding-left: 5px
        }
        .padding-50 {
            padding: 50px
        }
        .padding-30-left {
            padding-left: 30px
        }
        .padding-85-top {
            padding-top: 85px
        }
        .listOfCities {
            padding: 10px;
        }
        .listOfCities:hover {
            background-color: cornflowerblue;
            color: white;
        }
        .list-height {
            max-height: 200px;
            overflow-y: scroll;
        }
        .mouse-pointer {
            cursor: pointer;
        }
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/ui-bootstrap-tpls-1.2.5.js"></script>
    <script src="js/checklist-model.js"></script>
     <script src="js/angular-animate.min.js"></script>
    <!--   References For charts-->
    <script src="charts/d3/d3.min.js"></script>
    <script src="charts/nvd3/nv.d3.js"></script>
    <script src="charts/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="charts/nvd3/nv.d3.css">

    <script src="app.js"></script>
    <script src="modules/reviewerHomeController.js"></script>
    <script src="modules/userProfileController.js"></script>
    <script src="modules/UserProfileTabsController.js"></script>
    <script src="modules/userProfileChartsController.js"></script>
    <script src="modules/businessHomeController.js"></script>
    <script src="modules/businessProfileController.js"></script>
    <script src="modules/businessProfileChartsController.js"></script>
    <script src="modules/homeController.js"></script>
    <script src="modules/homeNavController.js"></script>
    <script src="modules/trendsHomeController.js"></script>
    <script src="modules/WeekMonthChartController.js"></script>
    <script src="modules/businessFilterController.js"></script>




    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <!--    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


</head>

<body id="page-top" class="index" ng-app="businessApp">

    <div ng-controller="homeController">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->


                    <div class="padding-30-left col-xs-2 navbar-brand page-scroll">Start Exploring</div>
                    <div class="col-xs-3 vcenter">
                        <input ng-if="!isHome" data-toggle="dropdown" type="text" class="form-control" placeholder="Find">
                    </div>
                    <div class="col-xs-2 vcenter">

                        <input ng-if="!isHome" ng-model="$root.searchCities" data-toggle="dropdown" ng-click="openCityDropDown()" type="text" class="form-control" placeholder="City">
                        <ul ng-if="!isHome" class="dropdown-menu col-md-12 list-height" role="menu" ng-show="citiesList">
                        <li role="menuitem" class="listOfCities" ng-repeat="x in cities | filter: searchCities" ng-click="setSearchBox(x)">{{x}}</li>
                    </ul>
                    </div>

                  <div class="vcenter">
                      <button ng-if="!isHome" type="button" ng-click="applyBusinessFilter()" class="btn btn-primary fa fa-search"></button>

                </div>
                    <div class="col-xs-4 vcenter">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="hidden">
                                    <a href="#page-top"></a>
                                </li>
                                <li ng-click="setHome()"><a ui-sref="home">Home</a>
                                </li>
                                <li>
                                    <a class="page-scroll mouse-pointer" ng-click="validateLocation(1)">Business</a>
                                </li>
                                <li>
                                    <a class="page-scroll mouse-pointer" ng-click="validateLocation(2)">Trends</a>
                                </li>
                                <li>
                                    <a class="page-scroll mouse-pointer" ng-click="validateLocation(3)">Reviewer</a>
                                </li>

                            </ul>

                    </div>




                <!-- Collect the nav links, forms, and other content for toggling -->

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->


        <header ng-if="isHome">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To Business Directory!</div>
                    <div class="intro-heading">It's Nice To Meet You</div>
                    <a href="#services" class="page-scroll btn btn-xl">Tell us where you are</a>
                </div>
            </div>

        </header>

        <div ui-view></div>
    </div>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Business Explorer 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




</body>

</html>
